* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: aliceblue !important;
  font-family: "Arial", Helvetica, sans-serif;
  color: rgb(2, 15, 43);
  font-weight: bold;
}
